/*============================================================================================*/
/* Your custom styles below */
/*============================================================================================*/
.welcome{
    padding: 50px 0;
    height: auto;
    overflow: hidden;
    position: relative;
    background: url(../img/consulto/welcome.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}
.welcome h1,
.welcome p{
    color: #fff;
}
.welcome .apps .app-item{
    text-align: center;
    margin-bottom: 50px;
}

.grid_item figure{
    height: 300px;
}
.grid_item figure img{
    height: 100%;
}


.ti-package{
    font-size: 26px;
    font-size: 1.625rem;
    vertical-align: middle;
}


/*============================================================================================*/
/* Vendor Row -/
/*============================================================================================*/
.numbers-row,
.input.qty2,
.button_inc{
    height: 50px;
    line-height: 50px;
}
.vendor-holder .vendor-row{
    padding: 15px;
    border: 1px solid rgba(0, 0, 0, 0.045);
    margin-bottom: 25px;
}
.vendor-holder .vendor-row:nth-of-type(odd){
    background-color: rgba(0, 0, 0, 0.045);
}
.vendor_name{
    vertical-align: middle;
}

.cart .vendor-holder .vendor-row{
    border: 1px solid rgba(0, 0, 0, 0.045);
    margin-bottom: 50px;
}



.search-section{
    background: url(../img/doctor/bg.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}
.search-section .btn_1{
    padding: .375rem .75rem;
}
.search-section .main_title{
    color: #fff;
}

.search-section .box_account .form_container{
    background-color: #FCFDFE ;
    padding: 30px 20px;
}

.doctor-slider .slick-slide{
	display: block;
	margin-left: 0;
	padding: 10px;
	width: 280px;
}
.profile-widget {
    background-color: #fff;
    border: 1px solid #f0f0f0;
    border-radius:4px;
    margin-bottom:30px;
    position:relative;
    -webkit-transition:all .3s ease 0s;
    -moz-transition:all .3s ease 0s;
    -o-transition:all .3s ease 0s;
    transition:all .3s ease 0s;
	padding: 15px;
}
.doc-img {
    position: relative;
    overflow: hidden;
    z-index: 1;
    border-radius: 4px;
}
.doc-img img {
    border-radius: 4px;
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
	transform: translateZ(0);
	-moz-transition: all 2000ms cubic-bezier(.19,1,.22,1) 0ms;
	-ms-transition: all 2000ms cubic-bezier(.19,1,.22,1) 0ms;
	-o-transition: all 2000ms cubic-bezier(.19,1,.22,1) 0ms;
	-webkit-transition: all 2000ms cubic-bezier(.19,1,.22,1) 0ms;
	transition: all 2000ms cubic-bezier(.19,1,.22,1) 0ms;
    width: 100%;
}
.doc-img:hover img {
    -webkit-transform: scale(1.15);
    -moz-transform: scale(1.15);
    transform: scale(1.15);
}
.profile-widget .fav-btn {
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
    position: absolute;
    top: 5px;
    right: 5px;
    background-color: #fff;
    width: 30px;
    height: 30px;
	display: -webkit-inline-box;
	display: -ms-inline-flexbox;
	display: inline-flex;
	justify-content: center;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
    border-radius: 3px;
    color: #2E3842;
    -webkit-transform: translate3d(100%, 0, 0);
    -ms-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
    opacity: 0;
    visibility: hidden;
	z-index: 99;
}
.profile-widget:hover .fav-btn {
    opacity: 1;
    visibility: visible;
    -webkit-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}
.profile-widget .fav-btn:hover {
	background-color: #fb1612;
	color: #fff;
}

.pro-content {
    padding: 15px 0 0;
}
.row_item .pro-content {
    padding:0 ;
}
.pro-content .title {
    font-size: 17px;
    font-weight: 500;
    margin-bottom: 5px;
}
.profile-widget .pro-content .title a {
    display: inline-block;
}
.profile-widget .verified {
	color: #28a745;
	margin-left: 3px;
}
.profile-widget p.speciality {
    font-size: 13px;
    color: #757575;
    margin-bottom: 5px;
    min-height: 40px;
}
.available-info {
    font-size: 13px;
    color: #757575;
    font-weight: 400;
    list-style: none;
    padding: 0;
    margin-bottom: 15px;
}
.available-info li + li {
	margin-top: 5px;
}
.available-info li i {
	width: 22px;
}

.book-btn {
	background-color: #6F2C90;
    border: 2px solid #6F2C90;
    color: #fff;
    font-size: 13px;
    text-align: center;
    display: block;
    font-weight: 500;
	padding: 6px;
}
.book-btn:hover, .book-btn:focus {
	background-color: #FFE000;
	border-color: #FFE000;
	color: #fff;
}




.labs{
    background: url(../img/labs/bg.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}